@import 'initial';


.container{
    width: 1400px;
    margin: 0 auto;
}

/* NAVIGATION */

header{
    display: flex;
    flex-direction: row;
    .logo{
        font-size: 20px;
        color: white;
        background-color: $theme1;
        padding: 20px;
        display: grid;
        place-items: center;
    }
    .top{
        width: 100%;
        .email-icons{
            display: flex;
            justify-content:space-between;
            align-items: center;
            .email-contact{
                display: flex;
                gap: 20px;
                padding: 10px 40px;
                font-size: 20px;
                i{
                    color: $theme2;
                    
                }
            }
            .icons{
                i{
                    padding: 10px;
                    color: $theme2;
                }
            }
        }
        .navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $theme1;
            nav {
                ul{
                    display: flex;
                    li{
                        list-style: none;
                        padding: 40px 20px;
                    }
                }
            }
            .btn-premium{
                padding: 40px 50px;
            }
        }

    }
}


/* SLIDER */

.slider{
    height: 800px;
    background-color: grey;
}


/* ABOUT */

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .about-contents{
        padding-top:100px ;
        flex-basis: 50%;
        .title{
            color: $theme2;
            font-size: 25px;
            font-weight: 900;
        }
        .topic{
            font-size: 40px;
            font-weight: 900;
            line-height: 90px;
            span{
                color: $theme2;
            }
        }
        p{
            font-size: 18px;
            padding: 10px 0;
        }
        .counter{
            display: flex;
            gap: 50px;
            padding: 30px 0 ;
            .count{
                // width: 150px;
                padding: 25px 50px;
                border: 1px solid rgb(199, 196, 196);
                outline: 1px solid rgb(199, 196, 196);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                outline-offset: 5px;
                i{
                    color: $theme2;
                    font-size: 40px;
                }
                .data{
                    font-size: 35px;
                    font-weight: 800;
                    padding: 10px;
                }
            }
            
        }
        .btn-about{
            margin-top:20px ;
            width: 230px;
            padding: 25px;
        }
    }
}